#marcro1 {width:452px;background:#0B0B0B;outline:1px solid var(--color-romanos);margin:10px auto auto;display:block;padding:30px;color:#bababa;font-family:calibri;font-size:13px;display:flex;justify-content:center;}
#marcro2 {width:424px;background:#0B0B0B;outline:1px solid var(--color-romanos);outline-offset:14px;margin:10px auto auto;display:block;padding:30px;color:#bababa;font-family:calibri;font-size:13px;text-align:justify;margin-top:15px;}
#marcro2 dl.codebox {background:url('https://i.imgur.com/Y2GuXdw.png') no-repeat center center fixed;border:none;}
#marcro2 dt {font-size:15px;margin-top:-9px;padding-bottom:12px;border-bottom:1px solid var(--color-acento);}
#marcro3 {font-size:18px;font-family:arial;color:var(--color-romanos);text-align:center;text-transform:uppercase;font-weight:900;letter-spacing:1px;margin-top:-3px;margin-bottom:-3px;}
#marcro4 {width:auto;height:auto;background:#0B0B0B;margin-top:-1px;}
#marcro5 {font-size:13px;font-family:arial;color:var(--color-romanos);text-align:center;text-transform:uppercase;font-weight:900;letter-spacing:1px;padding-top:11px;padding-bottom:10px;margin-top:6px;}
#marcro6 {width:auto;height:auto;background:#060606;padding-top:9px;padding-bottom:10px;padding-left:15px;padding-right:15px;}
#marcroopena {color:#609480;padding-right:5px;}
#marcroopenb {color:#609480;text-transform:uppercase;font-weight:900;letter-spacing:1px;}
#marcrocloseda {color:#DE4A43;padding-right:5px;}
#marcroclosedb {color:#DE4A43;text-transform:uppercase;font-weight:900;letter-spacing:1px;}
#marcroabandoneda {color:#DEAF43;padding-right:5px;}
#marcroabandonedb {color:#DEAF43;text-transform:uppercase;font-weight:900;letter-spacing:1px;}
#marcro7 {width:75%;height:1px;background:var(--color-romanos);margin-top:-3px;margin-bottom:-19px;}
#marcro8 {color:var(--color-romanos);}
#marcro9 {display:flex;justify-content:center;margin-top:7px;margin-bottom:-18px;}
